# ----------------------------------------------------------------------------------------------------------------------
# Project Files
# ----------------------------------------------------------------------------------------------------------------------
node_modules/
package-lock.json


# ----------------------------------------------------------------------------------------------------------------------
# idea files
# ----------------------------------------------------------------------------------------------------------------------
.idea/workspace.xml