# ----------------------------------------------------------------------------------------------------------------------
# Project Files
# ----------------------------------------------------------------------------------------------------------------------
node_modules/
package-lock.json
transactions.txt
config/default.json